/* ===========================   FORMULARIO DE RESERVAS   =========================== */

#reservar {
    width: 100%;
    max-width: 800px;
    margin: 20 auto;
}

form {
    background-color: #3a3836;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 8px #00000014;
}

#reservar h2 {
    text-align: center;
    color: #e1d1d2;
    margin-bottom: 5px;
    font-size: 1.8em;
}

label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #e1d1d2;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    background-color: white;
}

select {
    width: 80%;
    max-width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    background-color: white;
    cursor: pointer;
}

input[type="number"],
input[type="date"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    background-color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    outline: none;
    border-color: #4299e1;
}

br {
    display: block;
    margin: 10px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box-form {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    gap: 10px;
}

