/* ===========================    SERVICIOS    =========================== */

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.servicios>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.icon {
    width: 5rem;
    height: 5rem;
    background-color: antiquewhite;
    border-radius: 8px;
    object-fit: contain;
}

